/* HEADER COMPONENT STYLING */

.first-header, .navigation-bar {
	display: flex;
	padding: 25px;
	align-items: center;
	justify-content: space-between;
}

/* first header */
.first-header>img {
	width: 60px;
	height: 60px;
	border-radius: 10px;
}

.first-header figure figcaption {
	font-size: 18px;
	font-family: "Poppins";
	color: var(--secondary-text-color);
}

.first-header figure > img {
	cursor: pointer;
}

/* navigation bar */
.navigation-bar button {
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
	background: transparent;
}

.navigation-bar button img {
	width: inherit;
	height: inherit;
}